.wrapper{
    font-size: 1.6rem;
    display: inline-flex;
    align-items: center;
    font-weight: 700;
    min-width: 100px;
    padding: 9px 16px;  
    border-radius: 4px;
    background-color: var(--white);
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    + .wrapper{
        margin-left: 8px ;
    }
   
    
}
.primary{
    background-color: var(--primary);
    color: var(--white);
    &:hover{
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)),#FE2C55;
        }
}
.outline{
    border:1px solid var(--primary);
    color: var(--primary);
    padding: 6px 14px;  
    min-width: 88px;

    &:hover{
        background-color: rgba(254, 44, 85, 0.06);
    }
}
.onlyText{
    border:1px solid transparent;
    color: var(-black);
    
    &:hover{
        text-decoration: underline;
    }
}
.icon +.title,
.title +.icon{
    margin-left: 3px ;
}
.borderButton{
    border-radius: 52px;
    border-color: #ccc;
    color: rgba(22, 24, 35, .75);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    min-width: 90px;
    transition: transform 0.3s cubic-bezier(.4,.14,.3,1);
    &:hover{
        border-color: rgba(22, 24, 35, .2);
        background-color: rgba(255, 255, 255, 1);
    }
}