.search-title{
    margin-left: 15px;
    color: rgb(129, 129, 129);
}
.account-item:hover{
    background-color: #ccc;
}


.search-result{
    width: 361px;
}
.search{
    width: 361px;
    position: relative;
    height: var(--search-height);
    background-color: rgba(22,24,35,0.06) ;
    border-radius: 92px;
    padding-left:  16px;
    display: flex;
    border: 1.5px solid transparent;
    input{
        color: var(--black);
        font-size: 1.6rem;
        border: none;
        flex: 1;
        padding-right: 40px;
        height: 100%;
        outline: none;
        background-color: transparent;
    }
    input:not(:placeholder-shown) ~.search-btn{
        color: var(--black);
    }
    &::after{
        position: absolute;
        content: '';
        width: 1px;
        top: var(--search-top-space);
        right: var(--search-button-width);
        height: calc(var(--search-height) - var(--search-top-space)*2);
        background-color: rgba(22,24,35,0.12);

    }
    &:focus-within{
        border-color: rgba(22,24,35,0.2);
    }
}
.close,
.loading{
    position: absolute;
    right: calc(var(--search-button-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22,24,35,0.34);
}
.loading{
    animation: spinner 1s linear infinite;

}
@keyframes spinner{
    from{
        transform:translateY(-50%) rotate(0);
    }
    to{
        transform:translateY(-50%) rotate(360deg);
    }
}
.close{
    cursor: pointer;
}
.search-btn{
    width: var(--search-button-width);
    height: 100%;
    border-top-right-radius: 92px;
    border-bottom-right-radius:92px ;
    font-size: 1.8rem;
    color: rgb(113, 113, 113);

    &:hover{
        cursor: pointer;
        background-color: rgba(22,24,35,0.03);
    }
    &:active{
        background-color:  rgba(22,24,35,0.06);
        
    }
    
}